<?xml version="1.0"?>

<configuration>
	<appSettings/>
	<connectionStrings>
		<add name="PGDSN"
	connectionString="server=localhost;database=postgis_in_action;Port=5432;User Id=postgis_in_action;password=postgis123"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" />
		<customErrors mode="Off" />
	</system.web>

</configuration>
